@page
@model CRUDExample.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DailyRecord[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyRecord[0].StatusText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyRecord[0].EventSummary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyRecord[0].Remark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyRecord[0].User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DailyRecord) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventSummary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
